{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "comments": false,
  "retainLines": true,
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
